{% extends "blog/base.html" %}
{% block content %}
        
    <div style=" border-radius: 30px; padding: 40px; margin: 10%; background-color: white; box-shadow: 10px 10px 10px 10px rgba(255, 69, 168, 0.326);">
        <h1>About Me</h1><br>

        <h5>
            Hey there! I’m Soham, a web development enthusiast. This blog is my way of sharing what I’ve learned about building websites using HTML, CSS, JavaScript, and Django.
            
            I made this blog to document my coding journey and help others who are also learning. You’ll find simple tutorials, tips, and my thoughts on web development. <br>
            
            Thanks for stopping by! Feel free to connect </h5>
    </div>
    <div style="border-radius: 30px; padding: 40px; margin: 10%; background-color: white; box-shadow: 10px 10px 10px 10px rgba(90, 142, 247, 0.437);">
        <h1>About this Website</h1><br>
        <h5>
            This website is a full-stack blog application built with Django, leveraging Python's robust framework for the backend. The front end is developed using HTML, CSS, and basic JavaScript to ensure a responsive and user-friendly interface.
        </h5>
    </div>

{% endblock content %}