{% extends "blog/base.html" %}
{% block content %}
<div class="contact-container" style="box-shadow: 10px 10px 10px 10px rgba(99, 99, 240, 0.808);">

    <h1 style="font-family: fantasy;">Contact Me</h1>
    <h3 style="text-decoration: none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><i>You can reach me out at &#x2935; </i><br>
    </h4>
        <a href="https://www.linkedin.com/in/soham00/" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/1200px-LinkedIn_icon_circle.svg.png" alt="" style="width: 40px;"></a>
        <a href="https://github.com/Soham-047" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/2048px-Github-desktop-logo-symbol.svg.png" alt="" style="width: 40px;"></a> 
    </h4> 
</div>

</body>
</html>
{% endblock %}