{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="postbox" style="border-radius: 10px; width: auto;height: auto; overflow: auto; border: 0px; box-shadow: 10px 10px 10px 10px rgb(147, 173, 202); padding-left: 20px; padding-top: 20px;">
            <img src="{{ post.author.profile.image.url }}" alt="" class="article-img" style="width: 70px;height: 70px; border-radius: 40px;"><br><br>
            <h1 class="post-title"><a href="{% url 'post-detail' post.id %}" class="blog-post-link">{{ post.title }}</a></h1>
            <hr>
            <p class="post-content" style="margin: 5px;">{{post.content}}</p>
            
            <p class="post-author" style="float: left;margin: 5px;">~{{post.author}}</p>
            <br><br>
        </div>

    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}